<% if account_signed_in? %>
    <div class = "row">
    <div class= "float-right mb-3">
        <%= link_to "Create New Community", new_community_path, class: "btn btn-primary float-right" %>
    </div>
    </div>
<% end %>
   
<% if @communities.size > 0 %>
<% @communities.each do |community| %>
    <div class = "card">
        <h3> <%= link_to community.name, community %></h3>
        <%= simple_format community.rules %>
    </div>
<% end %>

<% else %>
<p>No Comminities to display</p>
<% end %>